/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

/* My CSS */
/* * {
    border: 1px solid red;
} */

body {
    min-height : 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.calculator {
    /* width: 300px;
    height: 400px; */
    background: honeydew;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.screen {
    background-color: gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    text-align: right;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
}

.left-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.function-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.number-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.number-row {
    display: flex;
    justify-content: space-evenly;

    gap: 10px;
}

.operator-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.button {
    width: 60px;
    height: 60px;
    background-color: pink;
    border-radius: 30px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.zero {
    width: 130px; /* 2x button width + gap */
}